.header{
    display:flex;
    flex-direction: row;
}

.nav-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-icons{
    border-left: 1px solid grey;
    height: calc(100vh - 80px)
}