<div class="container">

    <section class="mat-typography">
        <h1>This component would provide details on speakers</h1>
    </section>
    <p>
        This menu/content UI demonstrates named router outlets. The main app has the default router outlet.
        This module, the speakers module, has its own router outlet so it can display content
        using the router. The module contains all components and routes that are to be displayed
        in the named outlet, speakerOutlet.
    </p>
</div>